.container {
    padding: 4rem;
    margin: 2rem;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.125rem;
    text-align: center;
    margin-bottom: 2rem;
}

.row {
    margin: 0 auto;
    width: 400px;
}

#board {
    margin-left: 6rem;
}

.square {
    float: left;
    clear: right;
    width: 100px;
    height: 100px;
    background-color: #f8F9fa;
}

/* .square:hover {
    cursor: pointer;
} */

.top {
    border-bottom-color: rgba(52, 58, 64, 0.500);
    border-bottom-style: solid;
    border-bottom-width: 2.5px;
}

.bottom {
    border-top-color: rgba(52, 58, 64, 0.500);
    border-top-style: solid;
    border-top-width: 2.5px;
}

.left {
    border-right-color: rgba(52, 58, 64, 0.500);
    border-right-style: solid;
    border-right-width: 2.5px;
}

.right {
    border-left-color: rgba(52, 58, 64, 0.500);
    border-left-style: solid;
    border-left-width: 2.5px;
}

#squareC {
    border-top-right-radius: 0.25rem;
}

#squareI {
    border-bottom-right-radius: 0.25rem;
}

#squareG {
    border-bottom-left-radius: 0.25rem;
}

#squareA {
    border-top-left-radius: 0.25rem;
}