/* GLOBAL STYLING */
* {
    font-family: Helvetica, sans-serif;
}

.container {
    padding: 4rem;
    margin: 2rem;
}

.row {
    margin: 0 auto;
    width: 400px;
}

h1,
h3 {
    letter-spacing: 0.125rem;
    text-align: center;
}

h1 {
    margin-bottom: 1rem;
    color: #343a40;
}

h3 {
    font-weight: 400;
}

#board,
#refreshBtn {
    margin-left: 6rem;
}

#board:hover {
    cursor: pointer;
} 

.square {
    float: left;
    clear: right;
    width: 100px;
    height: 100px;
    background-color: #f8F9fa;

    /* INNER TEXT STYLING */
    margin: auto;
    text-align: center;
    vertical-align: middle;
    color: #343a40;
    line-height: 100px;
    font-size: 5rem;
}

/* BOARD-LINE STYLING */
.top {
    border-bottom-color: rgba(52, 58, 64, 0.500);
    border-bottom-style: solid;
    border-bottom-width: 2.5px;
}

.bottom {
    border-top-color: rgba(52, 58, 64, 0.500);
    border-top-style: solid;
    border-top-width: 2.5px;
}

.left {
    border-right-color: rgba(52, 58, 64, 0.500);
    border-right-style: solid;
    border-right-width: 2.5px;
}

.right {
    border-left-color: rgba(52, 58, 64, 0.500);
    border-left-style: solid;
    border-left-width: 2.5px;
}

/* BORDER-RADIUS STYLING */
#square3 {
    border-top-right-radius: 0.5rem;
}

#square9 {
    border-bottom-right-radius: 0.5rem;
}

#square7 {
    border-bottom-left-radius: 0.5rem;
}

#square1 {
    border-top-left-radius: 0.5rem;
}

/* BUTTON STYLING */
#refreshBtn {
    margin-top: 1rem;
    
    /* HIDDEN BY DEFAULT! */
    visibility: hidden;
}

button {
    width: 200px;
    height: 50px;

    /* INNER TEXT STYLING */
    margin: auto;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-size: 1.50rem;
    color: #f8F9fa;
    background-color: rgba(52, 58, 64, 0.500);
    border-radius: 0.50rem;
    border: none;   
}

button:hover {
    color: rgba(52, 58, 64, 0.500);
    background-color: #f8F9fa;
    border: none;
}